
{% extends 'baseTemplate.html.twig' %}
{% block title %} МУТНОЕ КАЗИНО {% endblock  %}
{% block content %} 
    <h1>Добро пожаловать!</h1>
<p>
    <img src="/images/office-small.jpg" align="left" >
    <a href="/">МУТНОЕ КАЗИНО</a> Компания создана в 90-х годах, парами отбитых ребят. За время своего существования не нашла общий язык конкурентами и своими усилиями сократила их количество. Таким методом компания завоевать весь рынок потребителей и удачно развивалась дальше. <a href="/">МУТНОЕ КАЗИНО</a>.
</p>
{% endblock  %}