
{% extends 'baseTemplate.html.twig' %}
{% block title %} МУТНОЕ КАЗИНО {% endblock  %}
{% block content %} 
    <h1>Портфолио</h1>
    <p>
        <table>
            Все проекты в следующей таблице являются вымышленными, поэтому даже не пытайтесь перейти по приведенным ссылкам.
            <tr><td>Год</td><td>Проект</td><td>Описание</td></tr>
                {% for article in data %}
                   <tr><td>{{article.id}}</td><td>{{article.yslyga}}</td><td>{{article.cena}}</td></tr>
                {% endfor %}    
        </table>
    </p>
{% endblock  %}