
{% extends 'baseTemplate.html.twig' %}
{% block title %} МУТНОЕ КАЗИНО {% endblock  %}
{% block content %} 
    <h1>Услуги</h1>
<p>
Компания <a href="/">МУТНОЕ КАЗИНО</a> оказывает следующие услуги:
    <ul>
        <li>Отжать</li>
        <li>Кинуть</li>	
        <li>Навалить</li> 
    </ul>
</p>
{%include 'alex2.html.twig'%}
{% endblock  %}